#navbarRainbow {
    width: 100%;
    height: 85px;
    background-color: #3f0d12;
    background-image: linear-gradient(140deg, #3f0d12 0%, #a71d31 74%);
    /* background-image: linear-gradient(rgb(126, 26, 1), rgb(139, 1, 1), rgb(177, 0, 0));
     */
    box-shadow: 0 14px 28px rgba(134, 2, 20, 0.25), 0 10px 10px rgba(135, 0, 22, 0.22);
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: auto;
}


.shadowed {
    text-shadow: 1px 1px 2px rgba(55, 55, 55, 0.117);
}

.navElement {
    display: inline-block;
}

.textLeft {
    text-align: left;
    margin-left: 1rem;
    /* margin-left: 2rem; */
}

.wite {
    color: white;
}

.floatLeft {
    float: left;
    width: 25%;
}


.floatRight {
    float: right;
    margin-top: 1rem;
    width: 25%;
}

.floatmiddle {
    float: center;
    margin-top: 1rem;
    width: 50%;
    border-radius: 25px;
    background: rgb(18, 27, 5);
    /* padding: 5px;  */
}


#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
  }

.jetsetLogo {
    background: -webkit-linear-gradient(315deg, #bfe299 0%, #66b5f6 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1rem;
}
